.homeFitnessStatisticsContainer {
  margin-bottom: 30px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  padding: 0 15px;
}

.titleContainer h3 {
  Color: var(--white);
}

.homeFitnessStatisticsContainerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.cardContainerLink {
  margin-right: 15px;
  width: 150px;
  height: 200px;
}

.cardContainer {

}