.videoCardContainer {padding: 0 15px;}
.pageTitle {color: var(--white);}
.imageContainer {width:50%;}
.videoCardItems {}
.imageItem {width: 100%;}
.videoTitle{font-size: 14px; color: var(--white); text-decoration: none;}
