.videoCardContainer {padding: 0 20px;}
.pageTitle {margin: 20px 0; color: var(--white);}
.imageContainer {width: 100%;}
.videoCardItems {}
.imageItem {width: 100%;}
.videoTitle{margin: 10px 0; font-size: 14px; color: var(--white); text-transform: lowercase;}
.videoTitle::first-letter{text-transform: uppercase;}
.linkage {text-decoration: none;}