.videoCardContainer {
  height: 100%; 
  padding: 0 20px 30px; 
  background-color: var(--black);
}

.pageTitle {
  padding: 20px 0; 
  color: var(--white);
}

.imageContainer {
  width: 100%;
}

.videoCardItems {
  position: relative;
  padding: 0 0 15px;
}

.imageItem {
  width: 100%;
  border: 0;
  border-radius: 16px;
}

.videoTitle {
  margin: 10px 0;
  font-size: 14px; 
  color: var(--white); 
  text-transform: lowercase;
}

.videoTitle::first-letter {
  text-transform: uppercase;
}

.linkage {
  text-decoration: none;
}

.videoContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

.videoContentContainer:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  background: linear-gradient(0deg, rgba(18,18,18,.6) 39%, rgba(18,18,18,.1) 66%, rgba(18,18,18,0) 100%);
}