.bottomBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  height: 72px;
  border-top: 1px solid var(--grey-line);
}

.bottomBarBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60px;
}