.bottomBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 0 20px;
  height: 72px;
  border-top: 1px solid var(--grey-line);
  background-color: var(--grey);
  color: var(--white);
}

.bottomBarBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60px;
}

.bottomBarBtn i {
  font-size: 45px;
}

.homeBtnContainer {
  position: relative;
  top: -30px;
  width: 60px;
  border-radius: 50px;
  background-color: var(--white);
  color: var(--grey);
}

.homeBtnContainer {
  width: 60px;
  padding-bottom: 3px;
  text-align: center;
}