.filterBarRedeemContainer {
  margin-bottom: 20px;
}

.filterBarRedeem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
  list-style: none;
}

.filterBarRedeemBtn p {
  padding: 10px 20px;
  background-color: #2c2c2e;
  border-radius: 30px;
  font-size: 14px;
  color: var(--white);
}

.filterBarRedeemBtn:hover p {
  cursor: pointer;
  background-color: var(--orange);
}

