.quizContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--black-bg);
}

.bannerContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: 200px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bannerContainer h2 {
  position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 2;
    color: var(--white);
}

.imgBanner {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerContainer:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(18,18,18,1) 20%, rgba(18,18,18,0) 90%);
}

.prevQuestionBtn {
  position: absolute;
  left: 20px;
  bottom: 40px;
  margin-right: 10px;;
  border: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  background: none;
  z-index: 3;
  cursor: pointer;
}

.quizSumOfQuestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  z-index: 2;
  color: var(--white);
}

.contentContainer {
  position: relative;
  height: calc(100vh - 200px);
  margin-top: 200px;
  padding: 0 20px;
  color: var(--white);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer input {
  padding: 20px 30px;
  margin: 0 0 15px;
  border: 0;
  border-radius: 30px;
  background: var(--grey);
  color: var(--grey-text);
}

.quizBtnOfQuestion {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;;
}

.quizBtnOfQuestionOn, 
.quizBtnOfQuestionOff {
 width: 100px;
 height: 5px;
 border: 0;
 border-radius: 10px;
 background-color: var(--grey);
}
.quizBtnOfQuestionOn {
  background-color: var(--orange);
  cursor: pointer;
}

.question {
  font-size: 32px;
  margin-bottom: 50px;
}

.inputAnswer:focus {
  outline-width: 2px;
  outline-color: var(--orange);
}

.nextBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nextBtn i {
  margin-right: -10px;
  font-size: 29px !important;
}

.finishBtn,
.nextBtn {
  position: absolute;
  width: 200px;
  padding: 15px 20px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

.answerContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.answerContainer i {
position: absolute;
  right: 60px;
  font-size: 36px;
  top: 12px;
}

.inputRadioIcon,
.inputCheckboxIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: 0 !important;
  accent-color: var(--orange);
}

.inputRadioIcon:checked + .inputRadioLabel,
.inputCheckboxIcon:checked + .inputCheckboxLabel {
  background-color: var(--orange);
}

.inputRadioLabel,
.inputCheckboxLabel {
  width: 100%;
  padding: 20px 30px;
  border: 0;
  border-radius: 40px;
  background-color: var(--grey);
  color: var(--white);
  cursor: pointer;
}

.inputRadioLabel:hover,
.inputRadioLabel:checked {
  background-color: var(--orange);
}

.popupContainer {
  display: flex;
}

.popupContent {
  position: relative;
  width: calc(100% - 15%);
  height: 100px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  transition: all 5s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 5;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popupContent p {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popupContent .closeBtn {
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popupContent .closeBtn:hover {
  color: #06D85F;
}