.quizContainer {display: flex; flex-direction: column; background: var(--black); color: var(--white);}
.questionlabel {font-size: 32px;}
.formContainer{display: flex; flex-direction: column;}
.answerDesc {margin: 5px 0;}
.label {display:block; width:100%;}
.inputAnswer { padding: 20px 30px; font-size: 24px;}
.submitButton {padding: 20px 30px; border-radius: 30px; font-size: 18px; background-color: var(--orange); color: var(--white);}