.quizContainer {display: flex; flex-direction: column; background: var(--black); color: var(--white); }
.questionlabel {font-size: 32px;}
.formContainer{display: flex; flex-direction: column;}
.answerDesc {margin: 5px 0;}
.label{ display:block; width:100%; }