.chartBarContainer {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.chartBarContainer h3 {
  padding: 13px 15px 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -.5px;
  color: var(--black);
}

.chartBarContentContainer {
  
}

.chartBarContainer p {
  color: var(--black);
}

.chartBarContainer p span {
  font-size: 30px;
}
