.chartBarContainer {
  width: 100%;
  background-color: var(--white);
}

.chartBarContainer h3 {
  padding: 15px 0;
  font-size: 12px;
  color: var(--black);
}

.chartBarContentContainer {
  
}

.chartBarContainer p {
  color: var(--black);
}

.chartBarContainer p span {
  font-size: 30px;
}
