.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background: var(--black-bg)
}
.contentContainer {
  width: 100%;
}

.imgContainer {
  width: 100vw;
  position: fixed;
  height: 100vh;
  min-height: 896px;
  overflow: hidden;
}

.imgHomeBackground{
  min-width: 896px;
  height: 100vh;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}