.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  padding: 0 15px;
}

.titleContainer h3{
  Color: var(--white);
}

.showBtnLink:visited {
  color: var(--white);
}

.showBtnLink:hover {
  color: var(--orange-light);
}

.cardContainerLink {
  margin-bottom: 15px;
}

.cardContainer {
  width: 100%;
  height: auto;
  text-align: center;
  border: 0;
  border-radius: 16px;
}
