.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  padding: 0 15px;
}

.titleContainer h3{
  Color: var(--white);
}

.showBtnLink:visited {
  color: var(--white);
}

.showBtnLink:hover {
  color: var(--orange-light);
}

.cardContainerLink {
  display: block;
  padding: 0 15px;
  margin-bottom: 15px;
}

.cardContainer {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  border: 0;
  border-radius: 16px;
}

.contentContainer {
  position: absolute;
  left: 15px;
  bottom: 30px;
  text-align: left;
  text-shadow: 1px 2px 3px var(--black-bg-65);
}

.contentContainer p {
  display: flex;
  align-items: center;
}

.contentContainer p:before{
  content: '';
  display: block;
  width: 4px;
  height: 14px;
  margin-right: 5px;
  background-color: var(--orange);
}

.statisticsContainer {

}
