.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}

.titleContainer h3{
  Color: var(--white)
}

.showBtnLink:visited{
  color: var(--white);
}

.showBtnLink:hover {
  color: var(--orange--light);
}