.topBarContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  background-color: var(--grey);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(18,18,18,0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(18,18,18,0.5);
  box-shadow: 0px 2px 6px 0px rgba(18,18,18,0.5);
  z-index: 3;
}

.fitquestLogoContainer {
  margin-left: 51px;
  width: 144px;
}

.fitquestLogoImg {
  width: 100%;
  height: 36px;
}

.alertBtnLink {
  display: inline-block;
  color: var(--white);
}

.alertBtnLink:hover {
  color: var(--orange-light);
}

.backBtnLink .topBarBtn i {
  font-size: 36px;
}

.topBarBtn i {
  font-size: 45px;
}

.languageDropdown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.languageDropdown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.languageDropdown:hover i {
  color: var(--orange-light);
}

.languageDropdown .btnContainer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 55px;
  padding: 7px;
  color: var(--white);
}

.languageMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 7px;
  width: 100px;
  background: var(--black);
}

.languageMenu > a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}