.main {
  margin: 0 15px;
}

.titleContainer {
  margin: 60px 15px 20px;
  font-size: 36px;
  color: var(--white);
}

.headerSelectorArrowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.headerSelector {
  display: flex;
  flex-direction: column;
}

.headerSelectorContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSelectorContentContainer h2 {
  margin: 30px 0;
  text-align: center;
  color: var(--white);
}

.headerSelectorContentContainer p {
  margin: 30px 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
}

.headerSelectorContentContainer h3 {
  margin: 30px 0 10px;
  text-align: center;
  line-height: 16px;
  font-family: "San Francisco", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: var(--white);
}

.headerSelectorContentContainer:last-child p {
  margin: 0 0 30px;
}

.headerSelectorContentContainer .uploadZoneContainer {
  padding: 50px;
  width: 32px;
  color: var(--white);
  font-size: 32px;
  border: 2px dashed var(--grey-icon);
  border-radius: 16px;
}

.nextBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nextBtn i {
  margin-right: -10px;
  font-size: 29px !important;
}

.nextBtn {
  width: 200px;
  padding: 15px 20px;
  border: 0;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

.nextBtn:hover {
  background-color: var(--orange-light);
}
