.slick-prev {
  width: 100px !important;
  height: 100% !important;
  left: -1px !important;
  transform: translate(0, -52%) !important;
  z-index: 2 !important;
  background: linear-gradient(90deg, rgba(18, 18, 18, 1) 60%,  rgba(18, 18, 18, .25) 90%, rgba(18, 18, 18, 0) 100%) !important;
}

[dir='rtl'] .slick-prev {
  left: -1px !important;
}

.slick-next {
  width: 100px !important;
  height: 100% !important;
  transform: translate(0, -52%) !important;
  right: -1px !important;
  z-index: 2 !important;
  background: linear-gradient(270deg, rgba(18, 18, 18, 1) 60%,  rgba(18, 18, 18, .25) 90%, rgba(18, 18, 18, 0) 100%) !important;
}

[dir='rtl'] .slick-next {
  right: -1px !important;
}

.slick-next:before {
  margin-right: 30px !important;
}

.slick-prev:before {
  margin-left: 30px !important;
}