:root {
  --black-bg: #121212;
  --black-bg-65: rgba(18, 18, 18, .65);
  --black: #000;
  --white: #FFF;
  --white-icon: rgba(255, 255, 255, .5);
  --orange: #FF5C00;
  --orange-light: #FF7C32;
  --grey: #232627;
  --grey-text: #C2C3CB;
  --grey-icon: #B3B3B3;
  --grey-line: #D9D9D9;
  --grey-input: #2c2c2e;
  --bluegrey: #232627;
  --green: #69ff67;
  --red: #ff6264;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--black);
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: var(--white);
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../public/fonts/icomoon.eot?pcktsh');
  src:  url('../public/fonts/icomoon.eot?pcktsh#iefix') format('embedded-opentype'),
    url('../public/fonts/icomoon.ttf?pcktsh') format('truetype'),
    url('../public/fonts/icomoon.woff?pcktsh') format('woff'),
    url('../public/fonts/icomoon.svg?pcktsh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-Group-150:before {
  content: "\e900";
}

.icon-Group-151:before {
  content: "\e901";
}

.icon-Group-149:before {
  content: "\e902";
}

.icon-Group-154:before {
  content: "\e903";
}

.icon-Group-152:before {
  content: "\e904";
}

.icon-Group-156:before {
  content: "\e905";
}

.icon-Group-157:before {
  content: "\e906";
}

.icon-Group-158:before {
  content: "\e907";
}

.icon-Group-155:before {
  content: "\e908";
}

.icon-Group-163:before {
  content: "\e909";
}

.icon-Group-162:before {
  content: "\e90a";
}

.icon-Group-159:before {
  content: "\e90b";
}

.icon-Group-160:before {
  content: "\e90c";
}

.icon-Group-161:before {
  content: "\e90d";
}

.icon-Group-165:before {
  content: "\e90e";
}

.icon-Group-166:before {
  content: "\e90f";
}

.icon-Group-164:before {
  content: "\e910";
}

.icon-Group-167:before {
  content: "\e911";
}

.icon-Group-168:before {
  content: "\e912";
}

.icon-Group-169:before {
  content: "\e913";
}

.icon-Group-170:before {
  content: "\e914";
}

.icon-Group-171:before {
  content: "\e915";
}

.icon-Group-173:before {
  content: "\e916";
}

.icon-Group-172:before {
  content: "\e917";
}

.icon-Group-174:before {
  content: "\e918";
}

.icon-Group-175:before {
  content: "\e919";
}

.icon-Group-176:before {
  content: "\e91a";
}

.icon-Group-177:before {
  content: "\e91f";
}

.icon-Group-178:before {
  content: "\e91e";
}

.icon-Group-179:before {
  content: "\e91d";
}

.icon-Group-180:before {
  content: "\e91c";
}

.icon-Group-181:before {
  content: "\e91b";
}

.icon-Group-182:before {
  content: "\e920";
}

.icon-Group-183:before {
  content: "\e921";
}

.icon-Group-184:before {
  content: "\e922";
}

.icon-Group-185:before {
  content: "\e923";
}

.icon-Group-186:before {
  content: "\e924";
}

.icon-Group-187:before {
  content: "\e925";
}

.icon-Group-188:before {
  content: "\e926";
}

.icon-Group-189:before {
  content: "\e927";
}