.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--red);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: auto;
  background: var(--black-bg);
}

.firstSection {
 display: flex;
 flex-direction: row;
 padding: 0 15px;
 margin-bottom: 30px;
 gap: 15px;
}