.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--black-bg);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 15px;
  margin: 0;
  height: auto;
  color: var(--white);
  background: var(--black-bg);
}

.heading {
  margin: 30px 0 15px;
  color: var(--white);
}

/* ffffff */
.rulerPicker {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ruler {
  width: 200px; /* Adjust as needed */
}

.valueDisplay {
  font-size: 1.2rem;
}