.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--black-bg);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--black-bg);
}

.articleContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh + 100%);
  margin-bottom: 50px;
  padding: 0 15px;
}

.titleContainer {
  color: var(--white);
}

.titleContainer h1 {
  margin: 30px 0 15px;
  color: var(--white);
}

.titleContainer p {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--grey-input);
}

.imgContainer {
  width: 100%;
  margin: 15px 0;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.paragraph {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.listContainer {
  margin-left: 15px;
}

.listItem {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.bold {
  font-weight: 700;
  font-size: 16px;
}