.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--black-bg);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0;
  height: auto;
  background: var(--black-bg);
}

.heading {
  margin: 30px 0 15px;
  color: var(--white);
}

.settingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.settingBtn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 16px;
  background-color: var(--grey-input);
}

.settingBtnCotainer:last-child {
  margin-bottom: 30px;
}

.settingBtnIcon {
  padding: 2px;
  margin: 0 15px;
  font-size: 36px;
  border-radius: 30px;
  color: var(--grey);
  background-color: var(--grey-icon);
}

.settingGroupTitle {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}

.settingBtntitle {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: var(--white);
}

.switchBtn {
  margin-right: 20px;
}

.arrowBtnIcon {
  margin-right: 15px;
  font-size: 30px;
  transform: rotate(180deg);
  color: var(--white);
}

.settingContainer button.settingBtn {
  cursor: pointer;
}

.settingContainer button.settingBtn:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.settingContainer button.settingBtn:hover .settingBtnIcon {
  color: var(--white);
  background-color: var(--white-icon);
}