.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--red);
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .mobileContainer {
    margin: auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100% - 132px);
}