.mobileContainer {
  position: relative;
  width: 430px;
  height: 932px;
  margin: 60px auto;
  background-color: var(--red);
  overflow: hidden;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100% - 132px);
}