.achievementsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 0 30px;
}

.badgesItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badgesImage {
  margin-bottom: 15px;
}

.badgesItemDesc {
  text-align: center;
  font-size: 12px;
}

.badgesItemDesc span {
  font-weight: 600;
  color: var(--orange);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
}

.titleContainer h3{
  Color: var(--white);
}

.showBtnLink {
  font-size: 14px;
}

.showBtnLink:visited {
  color: var(--white);
}

.showBtnLink:hover, .showBtnLink:hover i {
  color: var(--orange-light);
}

.showMoreBtnIcon {
  display: inline-block;
  padding-top: 1px;
  float: right;
  font-size: 14px;
  color: var(--white);
}